<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sadness Deployer</title>
    <style>
        body {
            background: #263238;
            padding: 2rem;
            color: #ECEFF1;
            font-family: Monaco, monospace;
            font-size: 12px;
        }

        p {
            margin: 0;
            padding: 0;
        }

        .command {
            color: white;
            font-weight: bold;
            margin-bottom: 0.25em;
        }

        .command small {
            color: #666;
        }

        .output {
            margin-bottom: 1em;
        }

        .output.success {
            color: #69F0AE;
        }

        .output.error {
            color: #FF5252;
        }
    </style>
</head>
<body>
    {% raw %}
        <main>
            <div v-for="task in tasks" v-if="task.status">
                <p class="command">
                    $ {{ item.command }}
                    <small v-if="item.command != item.sanitized">{{ item.sanitized }}</small>
                </p>
                <p class="output success" v-if="item.status">{{ item.output }}</p>
                <p class="output error" v-if="!item.status">{{ item.output }}</p>
            </div>
        </main>
    {% endraw %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
    <script>
        var app = new Vue({
            el:      'main',
            data:    {
                tasks: {{ tasks|json_encode|raw }}
            },
            created: function () {
                var that = this;
                this.tasks.forEach(function (task, key) {
                    var url = '/deploy/run/deploy/' +key;
                    that.$http({url: url}).then(function (response) {
                        that.tasks[key] = response[0];
                    });
                });
            },
        });
    </script>
</body>
</html>
